<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<footer>
    <div class="social-links">
        <a href="https://github.com/Klayvert2003" target="_blank">
            <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://www.linkedin.com/in/klayvert-alves-a21a31195" target="_blank">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://wa.me/5519986028206" target="_blank">
            <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
    </div>
</footer>