footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2em;
}

.social-links a:hover {
    color: #00aaff;
}

.social-links i {
    margin-right: 8px;
}
