<div class="action-container">
    <button (click)="goBack()" class="go-back-button" mat-raised-button color="primary">Voltar</button>
    <a mat-raised-button color="primary" [routerLink]="['/create-directory', directory?.directoryId]" class="create-button">Criar pasta</a>
</div>

<div class="card-container">
    @if ((directory?.subDirectories ?? []).length > 0 || (directory?.files ?? []).length > 0) {
        @for (subDir of directory?.subDirectories ?? []; track subDir.directoryId) {
            <app-card [directory]="subDir"></app-card>
        }

        @for (file of directory?.files ?? []; track file.id) {
            <app-card-file [file]="file"></app-card-file>
        }
    }
</div>